body {
    background-color :rgb(255, 202, 144);
}

h1 {
    text-align : center;
}

form {
    text-align : center;
}

label {
    display : block;
    
}

button {
    width : 100px;
    margin : 20px;
}


.error {
    color : red;
    text-align : center;
}

.button_creation_compte button {
    display : block;
}

table {
    width : 100%;
}

table, td {
    border: 1px solid #333;
}